@font-face {
  font-family: "Silka";
  src: url("../../public/fonts/silka/silka-thin-webfont.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Silka";
  src: url("../../public/fonts/silka/silka-extralight-webfont.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Silka";
  src: url("../../public/fonts/silka/silka-light-webfont.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Silka";
  src: url("../../public/fonts/silka/silka-regular-webfont.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Silka";
  src: url("../../public/fonts/silka/silka-medium-webfont.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Silka";
  src: url("../../public/fonts/silka/silka-semibold-webfont.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Silka";
  src: url("../../public/fonts/silka/silka-bold-webfont.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Silka";
  src: url("../../public/fonts/silka/silka-black-webfont.ttf");
  font-weight: 800;
}

@layer base {
  html,
  body {
    font-family: "Silka";
    box-sizing: border-box;
    color: #0a1c2d !important;
    scroll-behavior: smooth;
  }
}
@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

.mantine-NavLink-label {
  font-size: 1rem !important;
}
.mantine-NavLink-root[data-active] .mantine-NavLink-label {
  font-weight: 700 !important;
}
.mantine-NavLink-root:active .mantine-NavLink-label {
  color: white;
}
.mantine-NavLink-root:active .mantine-NavLink-section {
  color: white;
}
