@font-face {
  font-family: "Avenir";
  src: url("../../public/fonts/avenir/AvenirRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../public/fonts/avenir/AvenirThin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir";
  src: url("../../public/fonts/avenir/AvenirLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Avenir";
  src: url("../../public/fonts/avenir/AvenirMedium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../public/fonts/avenir/AvenirDemi.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../../public/fonts/avenir/AvenirBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Avenir";
  src: url("../../public/fonts/avenir/AvenirHeavy.ttf");
  font-weight: 900;
}

@layer base {
  html,
  body {
    @apply font-avenir;
    font-family: "Avenir";
    box-sizing: border-box;
    color: #1a3129;
  }
}
@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;
.mantine-NavLink-label {
  font-size: 1rem !important;
}
.mantine-NavLink-root[data-active] .mantine-NavLink-label {
  font-weight: 700 !important;
}
.mantine-NavLink-root:active .mantine-NavLink-label {
  color: white;
}
.mantine-NavLink-root:active .mantine-NavLink-section {
  color: white;
}
